name: run tests
run-name: test my application
on: [push]
jobs:
  test:
    name: GradleTest
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Setup JDK 18
        uses: actions/setup-java@v2
        with:
          java-version: '18'
          distribution: 'adopt'
          
      - name: Build with Gradle
        run: ./gradlew build --no-daemon
        
      - name: Test
        run: gradle test --tests "*"
      - name: Test
        run: ./gradlew test --tests "*"
